[Desktop Entry]
Name=rView
Comment=Modern, blazing-fast image viewer
GenericName=Image Viewer
Exec=rview %F
Icon=rview
Terminal=false
Type=Application
Categories=Graphics;Viewer;Photography;
MimeType=image/jpeg;image/png;image/gif;image/bmp;image/tiff;image/webp;image/x-icon;image/x-portable-anymap;image/x-tga;image/x-exr;image/x-dcraw;image/x-canon-cr2;image/x-nikon-nef;image/x-sony-arw;image/x-adobe-dng;image/x-fuji-raf;image/x-panasonic-raw;
Keywords=image;photo;picture;viewer;raw;photography;
StartupNotify=true
StartupWMClass=rview
